% -*- mode: erlang -*-
{erl_opts, [{i, "include"}, {src_dirs, ["src"]}]}.
{cover_enabled, true}.
{clean_files, ["ebin/*.beam", "priv/log/*", "rel/*"]}.
{deps_dir, ["deps"]}.
{deps, [
	{yaws,".*",{git,"https://github.com/klacke/yaws.git","HEAD"}},
	{ibrowse,".*",{git,"https://github.com/cmullaparthi/ibrowse.git","HEAD"}}
]}.
{xref_checks, [exports_not_used, undefined_function_calls]}.